// 品牌主色
$main:#1472ff;
$main-active: #005AE0;
$main-hover: #428eFF;
$main-disabled: #9EC5FF;
$main-light: #EBF3FF;

// 中性色 - 文字
$text: #333333;
$text-sub: #666666;
$text-desc: #999999;
$text-tips: #B2B2B2;

// 中性色 - 线条
$line: #CCCCCC;
$line-divide: #EBEBEB;

// 背景色
$bg: #FFFFFF;
$bg2: #FAFAFA;
$bg3: #F5F5F5;

// 功能色
$success: #07C160;
$success-active: #04a457;
$success-hover: #2BCD74;
$success-disabled: #81E6A8;
$success-light: #EBFFEB;

$warning: #FFA51F;
$warning-active: #EB8D00;
$warning-hover: #FFB74D;
$warning-disabled: #FFDCA9;
$warning-light: #FFF8EE;

$error: #FF4747;
$error-active: #D22C31;
$error-hover: #FF6C67;
$error-disabled: #FFB0A8;
$error-light: #FFEBEB;